.is-ddark {
  background-color: #333;
  color: #eee;
}

.has-text-white {
  color: #fff;
}

.fb_iframe_widget {
  vertical-align: top;
}

#twitter-widget-0 {
  vertical-align: bottom;
}

body {
}

#google-play img {
  width: 160px;
}

#app-store {
  margin-left: 30px;
}